body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

button {
    color: white;
    background-color: blue;
    font-size: 40px;
    
}

h1 {
    color: white;
    font-size: 80px
}